.top-menu{padding-bottom: 50px;
position: relative;} 

#author{
    margin: 15px;

    width:300px;
    height: auto;
    float: left;
}
.center h2{
      background-color: darkblue;
      width: 300px;
      margin-bottom: 0;
      text-align: center;
  }
.work{
      width: 700px; 
      margin: auto; 
      /* overflow: hidden; */
      background-color: white;
      color: black;
      padding: 10px;
      position:relative;
      bottom: 1100;
      
      
  }
  #back{
    width: 1000px; 
    height: 1060px;
    margin: auto; 
    background-color: lightblue;
  }